* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  display: flex;
}

::selection {
  background-color: #ffeb55;
  color: black;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 2rem;
}

.portfolio,
.previous-role {
  scroll-margin-top: 100px;
}

.client-experience,
.contact {
  scroll-margin-top: 150px;
}

h1,
h2 {
  font-family: "Libre Baskerville", serif;
}

p,
.nav-links li {
  font-family: "Poppins", sans-serif;
}

/* 导航栏样式 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin-inline: auto;
  padding-top: 2rem;
  padding: 2rem 2rem;
}

.logo img {
  width: 3rem;
  margin-left: -0.5rem;
  position: relative;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: translateY(-3px);
}

.logo a {
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: relative;
  top: -8px;
}

.nav-links {
  display: flex;
  list-style: none;
  position: relative;
  gap: 3rem;
}

.nav-links a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 3.8rem);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  width: 80%;
  max-width: 100%;
  line-height: 1.3;
  color: #5c6a85;
  text-align: center;
}

.hero span {
  color: #fff;
}

.portfolio h2,
.previous-role h2,
.client-experience h2,
.contact h2 {
  color: white;
  font-size: 2rem;
}

.portfolio p,
.previous-role p,
.client-experience p,
.contact p {
  width: 70%;
  font-size: 1.2rem;
  color: #8297bd;
  margin: 1rem 0;
  display: block;
}

.dashed-line {
  border-top: 1.5px dashed #616b75;
  margin-bottom: 2.5rem;
}

.portfolio-link,
.portfolio-text h3 {
  text-decoration: none;
}

.portfolio-item {
  pointer-events: auto; /* 确保点击事件没有被禁用 */
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.2rem;
}

.portfolio-item {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: filter 0.3s ease;
}

.portfolio-item:hover {
  filter: brightness(1.2);
}

.image-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.portfolio-text {
  padding: 25px;
}

.portfolio-text h3,
.role-item h3 {
  font-size: 1.5rem;
}

.role-item h3 {
  margin-top: 10px;
}

.portfolio-item p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #ced4da;
  width: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 3);
}

.tag-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-item {
  background-color: #3b4d62;
  color: #03ffd5;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
}

.tag-item:hover {
  background-color: #1f2a36;
}

.previous-role {
  min-height: 600px;
  margin: 10rem 0;
}

.role-item {
  padding: 1.8rem 2rem 0.9rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  overflow: hidden;
  transition: filter 0.3s ease;
  justify-content: space-between;
}

.role-item:hover {
  filter: brightness(1.2);
}

.role-item .position {
  color: #3fdf90;
  font-weight: 500;
}

.role-item p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #ced4da;
  width: 100%;
}

.role-text {
  width: 60%;
}

.role-img img {
  margin-top: -15px;
  max-height: 12rem;
  object-fit: cover;
}

.client-experience {
  min-height: 625px;
}

.company-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 1.5rem;
  margin-top: 6rem;
}

.company-logo img {
  height: 2.5rem;
  width: auto;
  flex-basis: calc(25% - 1.5rem);
  max-width: 100%;
  position: relative;
  transition: transform 0.3s ease;
}

.company-logo img:hover {
  transform: translateY(-5px);
}

.contact {
  min-height: 100vh;
  position: relative;
}

.contact p .design-detail {
  color: #5c6a85;
  font-weight: 400;
}

.contact .design-detail {
  position: absolute;
  top: 28rem;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-weight: 300;
}

.contact-link {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.contact-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: white;
}

.contact-link:hover::after {
  content: "";
}

.contact-logo {
  display: flex;
  list-style: none;
  gap: 2rem;
  position: absolute;
  top: 10rem;
}

.contact-logo img {
  width: 2rem;
  transition: filter 0.3s ease;
}

.contact-logo img:hover {
  filter: brightness(1.5);
}

.contact span {
  color: #e5e7eb;
}

@media (max-width: 1024px) {
  .company-logo img {
    flex-basis: calc(33.33% - 1rem);
    height: 2rem;
  }

  .portfolio p,
  .previous-role p,
  .client-experience p,
  .contact p {
    width: 80%;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: #0f172a;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 0;
  }

  .toggle {
    display: block;
  }

  .nav-links.show {
    display: flex;
  }

  .role-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .role-text {
    width: 100%;
    margin-bottom: 0.4rem;
  }

  .role-img img {
    height: auto;
    width: 100%;
    margin-top: 0;
    object-fit: contain;
  }

  .company-logo img {
    height: 1.5rem;
  }

  .portfolio p,
  .previous-role p,
  .client-experience p,
  .contact p {
    width: 90%;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .company-logo img {
    height: 1.5rem;
  }

  .portfolio p,
  .previous-role p,
  .client-experience p,
  .contact p {
    width: 100%;
    font-size: 0.85rem;
  }
}

html {
  scroll-behavior: smooth;
}
